* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* outline: 1px solid red; */
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

button {
    border: 2px solid #E5E7EB;
    border-radius: 5px;
    background: #3882F6;
    color: #E5E7EB;
    font-weight: 500;
    font-family: inherit;
    width: 100px;
    height: 28px;
}

/* Header */

.header-container {
    display: flex;
    background: #1F2937;
    justify-content: center;
    padding: 20px 10px;
}

.header-content-container {
    display: flex;
    width: 1000px;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    align-items: baseline;
    margin: 0 20px;
}

.right-links ul{
    display: flex;
    gap: 20px;
}

.header-content-container h2 {
    font-size: 24px;
    color: #F9FAF8;
}

.header-content-container li {
    font-size: 18px;
    color: #E5E7EB;
    list-style: none;
}

/* Hero Content */

.hero-container {
    display: flex;
    background: #1F2937;
    justify-content: center;
    padding: 20px 10px;
}

.hero-content-container {
    width: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 350px;
    flex: 2;
    margin-bottom: 15px;
}

.hero-text h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900px;
}

.hero-image {
    width: 450px;
    flex: 1;
}

.hero-text p {
    font-size: 18px;
    color: #E5E7EB;
    padding: 10px 10px 10px 0;
}

.hero-button {
    border: none;
}

/* Information Content */

.information-container {
    display: flex;
    justify-content: center
}

.information-content-container {
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px 10px;
}

.box-container {
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box {
    width: 150px;
    height: 150px;
    border: 5px solid #3882F6;
    border-radius: 15px;
}

.box-style {
    width: 150px;
}

.box-style p {
    text-align: center;
}

.information-hero h3 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

/* Quote Content */

.quote-container {
    display: flex;
    background: #E5E7EB;
    justify-content: center;
    align-items: center;
    padding: 50px 30px;
}

.quote-content-container {
    width: 800px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}


.quote-content-container p {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 100;
    margin-bottom: 10px;
}

.quote-content-container strong {
    align-self: flex-end;
}

/* Call to Action */

.call-to-action-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 60px;
}

.call-to-action-content-container {
    width: 900px;
    background: #3882F6;
    border-radius: 5px;
    padding: 40px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.call-to-action {
    margin-right: auto;
    color: #E5E7EB;
}

.call-to-action-button {
    flex: 0 0 auto;
}

/* Footer */

footer {
    background: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    color: #E5E7EB;
}